---
import Layout from "../layouts/Layout.astro";
---

<Layout title="¡Agrega tu nombre!">
  <main class="flex flex-col justify-center items-center gap-y-2 h-screen px-4">
    <h1
      class="text-[36px] leading-[3rem] font-bold text-DarkBlue text-center
      md:text-5xl md:max-w-[560px]"
    >
      Escribe tu nombre
    </h1>
    <span class="md:max-w-[560px] text-gray">
      Tip: Funciona mejor con un nombre corto de 4 o 5 letras
    </span>

    <form class="flex flex-col justify-center items-center gap-y-4 mt-2 w-full">
      <input
        type="text"
        id="inputName"
        name="name"
        required
        placeholder="Tu nombre (Máximo 8 caracteres)"
        maxlength="8"
        class="rounded px-4 py-2 w-full md:w-[400px]
        bg-transparent outline outline-[1.5px] outline-DarkBlue
        focus:outline-[3px] text-DarkBlue"
      />

      <img
        id="imageWithText"
        src="/Benjamin.webp"
        alt="Index"
        class="w-52 h-60 rounded-md mb-4"
      />

      <button
        id="downloadBtn"
        type="button"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300
    font-medium rounded-lg text-lg py-2.5 focus:outline-none md:max-w-[400px] w-full text-center"
        >Descargar
      </button>

      <a
        target="_blank"
        rel="noopener"
        href="https://www.facebook.com/sharer/sharer.php?u=https://elecciones-2024.vercel.app/"
        class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-blue-300
    font-medium rounded-lg text-lg py-2.5 focus:outline-none md:max-w-[400px] w-full text-center cursor-pointer"
        >Compartir
      </a>
    </form>
  </main>
</Layout>

<script type="module">
  var downloadBtn = document.getElementById("downloadBtn");
  var inputName = document.getElementById("inputName");

  function getCanvas() {
    var texto = document.getElementById("inputName").value.toUpperCase();
    var canvas = document.createElement("canvas");

    canvas.width = 900; // Ancho de la imagen
    canvas.height = 1000; // Alto de la imagen
    var ctx = canvas.getContext("2d");

    // Cargar la imagen predefinida
    var img = new Image();
    img.src = "/Benjamin.webp"; // Ruta de la imagen

    img.onload = function () {
      ctx.drawImage(img, 0, 0, canvas.width, canvas.height);

      ctx.save();

      // Inclinar el texto hacia arriba 10 grados
      ctx.rotate((-3 * Math.PI) / 180);

      // Dibujar el texto en el lienzo
      if (texto.length > 7) {
        ctx.font = "bold 140px Georgia";
      } else if (texto.length > 5) {
        ctx.font = "bold 165px Georgia";
      } else {
        ctx.font = "bold 210px Georgia";
      }
      ctx.fillStyle = "black";
      ctx.textAlign = "center";
      ctx.fillText(texto, canvas.width / 2 - 25, canvas.height / 2);

      ctx.restore(); // Restaurar el estado del contexto después de la rotación

      // Convertir el canvas a una imagen y mostrarla
      var imgWithText = canvas.toDataURL("image/png");
      document.getElementById("imageWithText").src = imgWithText;
    };
  }

  inputName.addEventListener("input", () => {
    getCanvas();
  });

  downloadBtn.addEventListener("click", async () => {
    var canvas = document.createElement("canvas");
    var texto = document.getElementById("inputName").value.toUpperCase();

    if (texto.length === 0) {
      alert("El nombre no puede estar vacío");
      return;
    }

    canvas.width = 900; // Ancho de la imagen
    canvas.height = 1000; // Alto de la imagen
    var ctx = canvas.getContext("2d");

    // Cargar la imagen predefinida
    var img = new Image();
    img.src = "/Benjamin.webp"; // Ruta de la imagen

    img.onload = function () {
      ctx.drawImage(img, 0, 0, canvas.width, canvas.height);

      ctx.save();

      // Inclinar el texto hacia arriba 10 grados
      ctx.rotate((-3 * Math.PI) / 180);

      // Configurar el estilo del texto inclinado
      if (texto.length > 7) {
        ctx.font = "bold 140px Georgia";
      } else if (texto.length > 5) {
        ctx.font = "bold 165px Georgia";
      } else {
        ctx.font = "bold 210px Georgia";
      }
      ctx.fillStyle = "black";
      ctx.textAlign = "center";

      // Dibujar el texto inclinado en el lienzo
      ctx.fillText(texto, canvas.width / 2 - 25, canvas.height / 2);

      ctx.restore(); // Restaurar el estado del contexto después de la rotación

      // Convertir el canvas a una imagen y mostrarla
      var imgWithText = canvas.toDataURL("image/png");
      document.getElementById("imageWithText").src = imgWithText;

      // Descargar la imagen con texto
      var anchor = document.createElement("a");
      anchor.href = imgWithText;
      anchor.download = "mi_apoyo_benjamin.png";
      anchor.click();
    };
  });
</script>
